@import "variables";

.header {
  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $md3+px) {
      padding: 43px 0px 80px 0px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    &-right {
      margin-right: 85px;
      @media (max-width: $md2+px) {
        margin-right: 0;
      }
    }
  }
  &__menu {
    margin-right: 30px;
  }
  &__logo {
    flex: 0 0 41px;
    overflow: hidden;
    height: 41px;
    position: relative;
    z-index: 3;
    img {
      max-width: 100%;
      display: block;
    }
  }
}
.header {
  &__burger {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
    &-link {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px / 16px * 100%;
      color: #b8becd;
      transition: all 0.5s ease 0s;
      display: block;
      position: relative;
      @media (max-width: $md3+px) {
        font-size: 20px;
      }
      &:hover {
        color: #000;
        @media (min-width: $md3+px) {
          span::after {
            left: 0;
            width: 100%;
          }
        }
      }
      span {
        position: relative;
        display: block;
        line-height: 25px;
        &::after {
          position: absolute;
          content: "";
          width: 0;
          bottom: 0;
          height: 2px;
          left: 0;
          transition: all 0.5s ease 0s;
          background-color: $blue;
        }
      }
    }
    &-item {
      @media (min-width: $md3+px) {
        margin-right: 35px;
        &:last-child {
          // Убираем отступ у последнего элемента списка
          margin-right: 0px;
        }
      }
    }
  }
}
.btn {
  &__login {
    margin-right: 18px;
    @media (max-width: $md2+px) {
      padding: 0px 34px;
    }
  }
  &__register {
    padding: 0px 36px;
    @media (max-width: $md2+px) {
      padding: 0px 24px;
    }
  }
}

/* Блок hero  */

.hero {
  padding-bottom: 80px;
  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md3+px) {
      margin-top: 80px;
    }
  }
  &__form {
    display: flex;
    max-width: 510px;
    flex-wrap: wrap;
    justify-content: space-between;
    &-bottom {
      margin-bottom: 52px;
    }
  }
  &__column {
    max-width: 471px;
    &-right {
      margin-right: 30px;
      @media (max-width: 1172px) {
        width: 415px;
      }
    }
  }
  &__title {
    max-width: 370px;
    margin-bottom: 70px;
    margin-right: 25px;
  }
  &__subtitle {
    font-family: "Inter";
    font-size: 22px;
    line-height: 27px / 22px * 100%;
    color: $blue;
    font-weight: 600;
    position: relative;
    margin-bottom: 70px;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 34px;
      background-color: $blue;
      bottom: -15px;
    }
  }
  &__image {
    max-width: 687px;
    @media (max-width: 1172px) {
      // max-width: 550px;
      display: flex;
      flex-basis: 55%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.title {
  font-family: "Playfair Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px / 64px * 100%;
  color: $blue;
}
.form__select {
  position: relative;
  background: none;
  height: 52px;
  appearance: none;
  width: 220px;
  color: $gray;
  font-size: 15px;
  line-height: 32px / 15px * 100%;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  @media (max-width: 1172px) {
    width: 72%;
    &:nth-child(3) {
      margin-bottom: 35px;
    }
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
  &:nth-child(3),
  &:nth-child(4) {
    margin-bottom: 0;
  }
  &::after,
  &::before {
    content: "";
    width: 8px;
    height: 1.4px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: 13.7%;
    z-index: 1;
    pointer-events: none;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
    left: 85.5%;
  }
  select:focus {
    outline: 0;
    border-color: $yellow;
  }
}
.select {
  font-family: "Inter";
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  padding: 0px 0px 0px 31px;
  appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.btn {
  &__hero {
    padding: 0px 59px;
    height: 52px;
    line-height: 60px / 52px * 100%;
    font-size: 17px;
    background-color: $yellow;
    color: #fff;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: transparent;
        color: $yellow;
      }
    }
  }
}
