$blue: #202336;
$yellow: #fb8f1d;
$gray: #4a4c53;

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    padding-top: 35px;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 90px;
  }
}
.menu {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }
  .menu__list li:nth-child(4) {
    margin-right: 30px;
  }
  &__item {
    margin-right: 35px;
  }
  &__link {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px / 16px * 100%;
    color: #b8becd;

    transition: all 0.5s ease 0s;
    display: block;
    position: relative;
    &:hover {
      color: #000;
      span::after {
        left: 0;
        width: 100%;
      }
    }
    span {
      position: relative;
      display: block;
      line-height: 25px;
      &::after {
        position: absolute;
        content: "";
        width: 0;
        bottom: 0;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
        background-color: $blue;
      }
    }
  }
}
.button {
  &__login {
    margin-right: 18px;
  }

  &__register {
    padding: 0px 36px;
  }
}
.header {
  &__row {
    display: flex;
  }
  &__form {
    display: flex;
    max-width: 510px;
    flex-wrap: wrap;
    margin-bottom: 47px;
  }
  &__column {
    max-width: 550px;
  }

  &__title {
    max-width: 370px;
    margin-bottom: 70px;
  }

  &__subtitle {
    font-family: "Inter";
    font-size: 22px;
    line-height: 27px / 22px * 100%;
    color: $blue;
    font-weight: 600;
    position: relative;
    margin-bottom: 70px;
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 34px;
      background-color: $blue;
      bottom: -15px;
    }
  }
  &__button {
    color: #ffffff;
    background-color: $yellow;
    @media (min-width: $md2+px) {
      &:hover {
        background-color: transparent;
        color: #fb8f1d;
      }
    }
  }
}
.title {
  font-family: "Playfair Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px / 64px * 100%;
  color: $blue;
}
.form {
  background: none;
  padding: 0px 0px 0px 31px;
  border: 0.8px solid #afb0b9;
  height: 52px;
  border-radius: 6px;
  appearance: none;
  width: 220px;
  color: $gray;
  font-size: 15px;
  line-height: 32px / 15px * 100%;
  font-family: "Inter";
}
.select {
  position: relative;
  margin-bottom: 35px;
  margin-right: 30px;
  &::after,
  &::before {
    content: "";
    width: 8px;
    height: 1.4px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: 13.7%;
    z-index: 1;
    pointer-events: none;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
    left: 85.5%;
  }
  select:focus {
    outline: 0;
    border-color: $yellow;
  }
}
.select1,
.select2 {
  margin-bottom: 0;
}
